/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Fjalla+One&family=Josefin+Sans&family=Poppins:wght@400;500&family=Roboto+Condensed:ital@0;1&display=swap");


/* ----------------------
common style or utilities 
---------------------- */
body{
    font-family: "Poppins", sans-serif;
    background-color: #b9f0ca2a;
    margin: 0;
}
.container{
    /* width: 80%; */
    width: 80%;
    margin-bottom: 100px;
}

/* -------
top banner 
------- */
header{
    display: flex;
    justify-content: center;
}

.banner{
    background-color: #100f0f;
    border-radius: 15px;
    display: grid;
    padding-bottom: 60px;
    grid-template-columns: repeat(2, 1fr);
}

.banner-content{
    padding: 10px;
    margin-top: 40px;
    margin-left: 80px;
}

.banner-content h1{
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
}

.banner-heading:after {
    content: "";
    animation: changetext 30s infinite linear;
    color: #24cf3b;
  }
  @keyframes changetext {
    0% {
      content: "Qatar";
    }
    3% {
      content: "Germany";
    }
    6% {
      content: "Denmark";
    }
    9% {
      content: "Brazil";
    }
    12% {
      content: "Belgium";
    }
    15% {
      content: "France";
    }
    18% {
      content: "Croatia";
    }
    21% {
      content: "Spain";
    }
    24% {
      content: "Serbia";
    }
    27% {
      content: "England";
    }
    30% {
      content: "Switzerland";
    }
    33% {
      content: "Netherlands";
    }
    36% {
      content: "Argentina";
    }
    39% {
      content: "Iran";
    }
    42% {
      content: "South Korea";
    }
    45% {
      content: "Japan";
    }
    50% {
      content: "Saudi Arabia";
    }
    55% {
      content: "Ecuador";
    }
    60% {
      content: "Uruguay";
    }
    65% {
      content: "Canada";
    }
    70% {
      content: "Ghana";
    }
    75% {
      content: "Senegal";
    }
    78% {
      content: "Portugal";
    }
    81% {
      content: "Poland";
    }
    84% {
      content: "Tunisia";
    }
    87% {
      content: "Cameroon";
    }
    90% {
      content: "Morocco";
    }
    92% {
      content: "France";
    }
    94% {
      content: "Mexico";
    }
    96% {
      content: "United States";
    }
    98% {
      content: "Wales";
    }
    100% {
      content: "Australia";
    }
}  

.banner-content p{
    color: #FFFFFF;
    margin-bottom: 30px;
}

.watch-live-button{
    background-color: #fb8332;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: 2s;
}

.fa-circle-play{
    font-size: 16px;
    font-weight: 600;
    transition: 2s;
}

.watch-live-button:hover .fa-circle-play{
    transform: rotate(360deg);
}

.banner-image{
    width: 90%;
    margin-left: 80px;
}


.banner-image img{
    width: 85%;
}


/* ------------------------------
related link and transfer content
------------------------------ */

main{
    display: flex;
    justify-content: center;
}

.content-area{
    display: flex;
}

.realted-box{
    background-color: #100f0f;
    height: 140px;
    padding: 30px 30px 30px 30px;
    margin-right: 20px;
}

.related-link{
    display: grid;
    grid-row-gap: 20px;
    text-align: center;
}
.related-button{
    text-decoration: none;
    color: #100f0f;
    width: 220px;
    height: 33px;
    background-color: #eee;
    font-size: 20px;
    font-weight: 500;
}
.blog-button{
    background-color: #fb8332;
    color: #FFFFFF;
}

/* transfer content start*/
.transfer-content{
    grid-column: 2 / -1;
}
.transfer-content-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.transfer{
    border: 1px solid #80808040;
    border-radius: 5px;
}

.transfer-banner img{
    width: 100%;
    height: 175px;
}

.transfer-details{
    padding: 10px;
}

.transfer-details h3{
    font-weight: 600;
    font-size: 18px;
    margin: 12px 0 12px 0;
    color: #161616;
}

.transfer-button{
    text-decoration: none;
    color: #161616;
    padding: 3px 5px;
    border: 1px solid grey;
}

.comments-time{
    display: flex;
    padding: 10px;
}

.time{
    margin-right: 20px;
}
.fa-message-dots{
    color: #B9B9B9;
}

.view-all-button{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    background-color: #fb8332;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 10px;
}
.view-all{
  visibility: hidden;
}

/* ---------
footer start
--------- */

footer{
    background-color: #100f0f;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-container{
    width: 80%;
}

.site-name h2{
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 76px;
}

.site-name hr{
    height: 1px;
    border-width:0;
    color:gray;
    background-color: #80808054;
}
.footer-nav{
    margin-top: 34px;
}
.footer-nav a{
    margin-right: 20px;
}
.nav-button{
    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
}

.social-icon-style{
    font-size: 25px;
    margin-right: 8px;
}
.social-icon{
    padding: 20px;
}
.fa-facebook-square{
    color: #4267B2;
    
    
}
.fa-twitter-square{
    color: #00acee;

}
.fa-linkedin{
    color: #0072b1;

}


/* ----------
media queries
---------- */

/* mobile devices */

@media only screen and (max-width: 687px) {
    .container{
        width: 100%;
        margin-bottom: 25px;
    }
    .banner{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-content{
        text-align: center;
        
    }
    .realted-box{
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;
        margin-left: 90px;
        background-color: #FFFFFF;

    }
    .related-link{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .related-button{
        margin: 10px;
    }
    
    .content-area{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .transfer-content-area{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
.view-all{
  visibility: hidden;
}

    .footer-nav{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

}

/* tab or ipad devices */

@media only screen and (min-width: 688px) and (max-width: 991px) {
.container{
    width: 100%;
    margin-bottom: 25px;
}

.content-area{
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
}
.realted-box{
    background-color: #FFFFFF;
}
.related-link{
    display: flex;
    margin-left: 60px;
}
.related-button{
    margin: 4px auto;

}

.transfer-content-area{
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    margin-bottom: 50px;
  }
  .view-all{
    visibility: visible;
    display: flex;
    justify-content: center;
  } 
.footer-container{
    display: flex;
    flex-direction: column;
}

}